In [4]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dirname = "/scratch/mariamma/mtl/nih/saliency_mtl/"
file1 = "Ate_Mas_baseline-lr:0.001-wd:0.0_charmed-plant-257_last_grad_avg.csv"
file2 = "Ate_Nod_baseline-lr:0.001-wd:0.0_bumbling-brook-248_last_grad_avg.csv"
file3 = "Eff_Ate_baseline-lr:0.001-wd:0.0_polar-butterfly-250_last_grad_avg.csv"
file4 = "Eff_Mas_baseline-lr:0.001-wd:0.0_sandy-shape-256_last_grad_avg.csv"
file5 = "Eff_Nod_baseline-lr:0.001-wd:0.0_amber-paper-255_last_grad_avg.csv"
file6 = "Inf_Ate_baseline-lr:0.001-wd:0.0_morning-sky-253_last_grad_avg.csv"
file7 = "Inf_Eff_baseline-lr:0.001-wd:0.0_decent-cosmos-246_last_grad_avg.csv"
file8 = "Inf_Nod_baseline-lr:0.001-wd:0.0_dainty-plasma-263_last_grad_avg.csv"
file9 = "Nod_Fib_baseline-lr:0.001-wd:0.0_clear-flower-243_last_grad_avg.csv"
file10 = "Pne_Her_baseline-lr:0.001-wd:0.0_glad-smoke-107_last_grad_avg.csv"
file11 = "Ate_Nod_Fib_baseline-lr:0.001-wd:0.0_deft-wildflower-245_last_grad_avg.csv"
file12 = "Pne_Fib_Her_baseline-lr:0.001-wd:0.0_dutiful-dragon-108_last_grad_avg.csv"
file13 = "Ate_Eff_Inf_Nod_baseline-lr:0.001-wd:0.0_apricot-sponge-97_last_grad_avg.csv"
file14 = "Ate_Eff_Inf_baseline-lr:0.001-wd:0.0_sunny-elevator-92_last_grad_avg.csv"
file15 = "Ate_Eff_Inf_Mas_Nod_Pne_Pnt_Con_Ple_Nor_Cov_baseline-lr:0.001-wd:0.0_celestial-bush-290_last_grad_avg.csv"

In [3]:
file_pos1 = "Ate_Inf_baseline-lr:0.001-wd:0.0_honest-puddle-89_last_pos_cnt.csv"
file_neg1 = "Ate_Inf_baseline-lr:0.001-wd:0.0_honest-puddle-89_last_neg_cnt.csv"
file_pos2 = "Ate_Eff_Inf_Nod_baseline-lr:0.001-wd:0.0_apricot-sponge-97_last_pos_cnt.csv"
file_neg2 = "Ate_Eff_Inf_Nod_baseline-lr:0.001-wd:0.0_apricot-sponge-97_last_neg_cnt.csv"

In [4]:
file_orig_grad1 = "Nod_Fib_baseline-lr:0.001-wd:0.0_clear-flower-243_last_grad_orig_avg.csv"
file_cor_grad1 = "Nod_Fib_baseline-lr:0.001-wd:0.0_clear-flower-243_last_grad_corr_avg.csv"
file_orig_grad2 = "Inf_Eff_baseline-lr:0.001-wd:0.0_decent-cosmos-246_last_grad_orig_avg.csv"
file_cor_grad2 = "Inf_Eff_baseline-lr:0.001-wd:0.0_decent-cosmos-246_last_grad_corr_avg.csv"
file_orig_grad3 = "Inf_Eff_baseline-lr:0.001-wd:0.0_gentle-wave-251_last_grad_orig_avg.csv"
file_cor_grad3 = "Inf_Eff_baseline-lr:0.001-wd:0.0_gentle-wave-251_last_grad_corr_avg.csv"
file_orig_grad4 = "Eff_Ate_baseline-lr:0.001-wd:0.0_polar-butterfly-250_last_grad_orig_avg.csv"
file_cor_grad4 = "Eff_Ate_baseline-lr:0.001-wd:0.0_polar-butterfly-250_last_grad_corr_avg.csv"
file_orig_grad5 = "Ate_Nod_Fib_baseline-lr:0.001-wd:0.0_deft-wildflower-245_last_grad_orig_avg.csv"
file_cor_grad5 = "Ate_Nod_Fib_baseline-lr:0.001-wd:0.0_deft-wildflower-245_last_grad_corr_avg.csv"
file_orig_grad6 = "Ate_Eff_Inf_baseline-lr:0.001-wd:0.0_sunny-elevator-92_last_grad_orig_avg.csv"
file_cor_grad6 = "Ate_Eff_Inf_baseline-lr:0.001-wd:0.0_sunny-elevator-92_last_grad_corr_avg.csv"
file_orig_grad7 = "Ate_Nod_baseline-lr:0.001-wd:0.0_bumbling-brook-248_last_grad_orig_avg.csv"

In [5]:
filename_cov1 = "Ate_Eff_Inf_Mas_Nod_Pne_Pnt_Con_Ple_Nor_Cov_baseline-lr:0.001-wd:0.0_celestial-bush-290_last_grad_avg.csv"

In [34]:

df2 = pd.read_csv(os.path.join(dirname, filename_cov1), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.879896,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.879896,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [25]:

df2 = pd.read_csv(os.path.join(dirname, file_cor_grad6), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.000000,0.0,-0.009278,0.146803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.009278,0.0,1.000000,0.174368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.146803,0.0,0.174368,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:

df2 = pd.read_csv(os.path.join(dirname, file_pos2), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,8246.0,0.0,0.0,6409.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6409.0,0.0,0.0,8246.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
dirname = "/scratch/mariamma/mtl/nih/saliency_train/results_folder/"

In [38]:
file_inf = "Inf_Pne_Nor_Cov_baseline-lr:0.001-wd:0.0_decent-blaze-329_last_grad_avg.csv"
file_eff = "Eff_Pne_Nor_Cov_baseline-lr:0.001-wd:0.0_comic-morning-328_last_grad_avg.csv"
file_ate = "Ate_Pne_Nor_Cov_baseline-lr:0.001-wd:0.0_sweet-lake-327_last_grad_avg.csv"
file_ple = "Pne_Ple_Nor_Cov_baseline-lr:0.001-wd:0.0_playful-blaze-330_last_grad_avg.csv"
file_mas = "Mas_Pne_Nor_Cov_baseline-lr:0.001-wd:0.0_lucky-monkey-333_last_grad_avg.csv"
file_nod = "Nod_Pne_Nor_Cov_baseline-lr:0.001-wd:0.0_copper-frost-336_last_grad_avg.csv"

In [47]:

df2 = pd.read_csv(os.path.join(dirname, file_nod), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.975098,0.060395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.029819,0.251380
6,0.0,0.0,0.0,0.0,0.0,0.060388,0.975119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.177929,0.104433
7,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
8,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
9,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
11,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
12,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
14,0.0,0.0,0.0,0.0,0.0,-0.029834,0.177935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.975098,0.019174
15,0.0,0.0,0.0,0.0,0.0,0.251373,0.104423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.019178,0.975069

In [41]:

df2 = pd.read_csv(os.path.join(dirname, file_eff), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.981862,0.0,0.0,0.0,0.045651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059145,0.171287
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
5,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
6,0.0,0.0,0.045676,0.0,0.0,0.0,0.981874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.251190,0.051726
7,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
8,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
9,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
11,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
12,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
13,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
14,0.0,0.0,0.059153,0.0,0.0,0.0,0.251191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.981763,0.027141
15,0.0,0.0,0.171272,0.0,0.0,0.0,0.051686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027126,0.981807

In [30]:

df2 = pd.read_csv(os.path.join(dirname, file_nod), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.975098,0.060395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.029819,0.251380
6,0.0,0.0,0.0,0.0,0.0,0.060388,0.975119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.177929,0.104433
7,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
8,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
9,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
11,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
12,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
14,0.0,0.0,0.0,0.0,0.0,-0.029834,0.177935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.975098,0.019174
15,0.0,0.0,0.0,0.0,0.0,0.251373,0.104423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.019178,0.975069

In [33]:

df2 = pd.read_csv(os.path.join(dirname, file_inf), header=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.0,0.983925,0.0,0.0,0.191311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.255516,0.113511
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
5,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
6,0.0,0.0,0.0,0.191280,0.0,0.0,0.983902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.186797,0.026250
7,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
8,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
9,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
11,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
12,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
13,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
14,0.0,0.0,0.0,0.255513,0.0,0.0,0.186810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.983908,0.057429
15,0.0,0.0,0.0,0.113507,0.0,0.0,0.026246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.057439,0.983905

In [48]:
file_full = "Ate_Eff_Inf_Mas_Nod_Pne_Pnt_Con_Ple_Nor_Cov_baseline-lr:0.001-wd:0.0_olive-aardvark-322_last_grad_avg.csv"

In [49]:

df2 = pd.read_csv(os.path.join(dirname, file_full), header=None)
df2

NameError: name 'file_full' is not defined